
<section id="contact infinite-scroll-bg" class="services-2 section infinite-scroll-bg" >
  <!-- Contact Header -->
  <div class="container section-title "  id="contacts" data-aos="fade-up">
    <h2>Connect</h2>
    <p>Contact Us</p>
  </div><!-- End Section Title -->
  <div class="row justify-content-center text-center ">
    <div class="col-lg-8">
      
      <p class="mt-3">Have a question? We're here to help! Reach out to us anytime, and our team will get back to you as soon as possible.</p>
    </div>
  </div>

  <!-- Contact Button -->
  <div class="button-wrapper">
    <!-- From Uiverse.io by Creatlydev --> 
    <a href="/register" ><button href="/register" class="button" style="--clr: #7808d0">
      <span class="button__icon-wrapper">
        <svg
          viewBox="0 0 14 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="button__icon-svg"
          width="10"
        >
          <path
            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
            fill="currentColor"
          ></path>
        </svg>
    
        <svg
          viewBox="0 0 14 15"
          fill="none"
          width="10"
          xmlns="http://www.w3.org/2000/svg"
          class="button__icon-svg button__icon-svg--copy"
        >
          <path
            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
            fill="currentColor"
          ></path>
        </svg>
      </span>
      FREE CONSULTATION
    </button></a>

  </div>

  <!-- Social Links -->
  <div class="row justify-content-center mt-5 text-center">
    <div class="col-12">
      <h4 class="mb-4">Click to Connect:</h4>
      <div class="social-icons">
        <!-- WhatsApp -->
        <a href="https://wa.me/message/O4RDNPDSTLKAE1" target="_blank" class="social-icon">
          <i class="bi bi-whatsapp"></i>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/procols.connect" target="_blank" class="social-icon">
          <i class="bi bi-instagram"></i>
        </a>

        <!-- Email -->
        <a href="mailto:connect.procols@gmail.com" target="_blank" class="social-icon">
          <i class="bi bi-envelope-at"></i>
        </a>
      </div>
    </div>
  </div>
</section>
